<!---로그인 후 res.locals.islogin이 있어야함 / 로그아웃 후 res.locals.islogin이 없어야함-->

<% if(!islogin) { %>
<!----- Navigation Bar for NON-AUTHENTICATED CLIENT----->
<button type="button" class="navbar__togglebtn active"><span class="material-icons md-36">sort</span></button>
<nav class="navbar">
    <ul class="navbar__top">
        <li class="map"><a href="/"><span class="material-icons md-24">map</span></a></li>
        <li class="favorite"><a href="#"><i class="fa-solid fa-heart"></i></a></li>
        <li class="mypage"><a href="#"><span class="material-icons md-24">person</span></a></li>
    </ul>

    <ul class="navbar__bottom">
        <li class="login"><a href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
        <li class="signup"><a href="#"><span class="material-icons md-24">person_add_alt_1</span></a></li>
    </ul>
</nav>

<% } else { %>
<!----- Navigation Bar for AUTHENTICATED CLIENT----->
<button type="button" class="navbar__togglebtn active"><span class="material-icons md-36">sort</span></button>
<nav class="navbar">
    <ul class="navbar__top">
        <li class="map"><a href="/"><span class="material-icons md-24">map</span></a></li>
        <li class="favorite"><a href="#"><i class="fa-solid fa-heart"></i></a></li>
        <li class="mypage"><a href="#"><span class="material-icons md-24">person</span></a></li>
    </ul>

    <ul class="navbar__bottom">
        <li class="logout"><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
    </ul>
</nav>
<% } %>