<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Openmap</title>
</head>
<body>
<h3>비밀번호 변경</h3>
<form action="/users/changePassword" method="post">
        <tr>
            <td><input type="password" name="newpassword" placeholder="새 비밀번호"></td>
        </tr>
        <tr>
            <td><input type="password" name="r_newpassword" placeholder="비밀번호 확인"></td>
        </tr>
        <tr>
            <td><input type="submit" value="저장"></td>
        </tr>
        <tr>
            <input type="hidden" id="token" name="token" value="<%= Token %>">
        </tr>
</form>
</body>
</html>