<!DOCTYPE html>
<html>

<head>
    <title>openMap</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <div class="registContainer">
        <form name="compCheckForm" id="compCheckForm" method="post">
            <label for="name">대표자명</label>
            <input type="text" name="name" id="name" placeholder="사업자등록증에 적힌 성명을 입력해주세요." />
            <br>
            <label for="compNum">사업자 등록번호</label>
            <input type="text" name="compNum" id="compNum" placeholder="- 없이 10자리 숫자만 입력해주세요." />
            <br>
            <label for="openDate">개업일자</label>
            <input type="number" name="openDate" id="openDate" placeholder="YYYYMMDD 형식으로 입력해주세요. (예: 20220514)" />
            <br>
            <input type="button" value="사업자 등록정보 확인" onclick="gocheckComp()" />
        </form>
        <script language="javascript">
            function gocheckComp() {
                var data = {
                    businesses: [
                        {
                            b_no: document.getElementById('compNum').value,
                            start_dt: document.getElementById('openDate').value,
                            p_nm: document.getElementById('name').value,
                            p_nm2: "",
                            b_nm: "",
                            corp_no: "",
                            b_sector: "",
                            b_type: "",
                        },
                    ],
                };

                $.ajax({
                    url: "https://api.odcloud.kr/api/nts-businessman/v1/validate?serviceKey=hs0julBlxqzmZ9DgULGBktXwbelsj7HVZ0/4K73cbI365ikw4cm0yZFfY5mEFXKETrYPacEwQihxIQZvyG4ecA==", // serviceKey 값을 xxxxxx에 입력
                    type: "POST",
                    data: JSON.stringify(data), // json 을 string으로 변환하여 전송
                    dataType: "JSON",
                    contentType: "application/json",
                    async: false,
                    accept: "application/json",
                    success: function (result) {
                        console.log(result);
                        console.log(result.data[0].valid);
                        nextFunction(result.data[0].valid);
                    },
                    error: function (result) {
                        console.log(result.responseText); //responseText의 에러메세지 확인
                    },
                });
            }

            function nextFunction(valid) {
                if (valid == "01") {
                    alert("사업자등록정보가 인증되었습니다.");
                    //location.href="/users/compRegist";
                } else if (valid == "02") {
                    alert("사업자등록정보가 일치하지 않습니다.");
                }
            }
        </script>
    </div>
</body>

</html>