<body>
    <h1>이미 오픈맵에 내 업체가 등록되어 있는지 확인해보세요!</h1>

    <form name="checkExistForm" id="checkExistForm" action="/compRegist/search" method="post">
        <label for="compName"></label>
        <br>
        <input type="text" name="compName" id="compName" placeholder="업체명을 검색해주세요." required/>
        <input type="submit" value="검색하기" />
    </form>
    </div>
</body>