<head>
    <link rel="stylesheet" href="/stylesheets/registType.css" />
</head>
<body>
    <h1>오픈맵에 사장님의 영업장을 등록해주세요!</h1>
    <img src="/images/restaurant.png">
    <img src="/images/cafe.png">
    <img src="/images/hospital.png">
</body>
</html>