<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Openmap</title>
</head>

<body>
        <div class="title">
            <h3>운영중인 업체가 있으신가요?</h3>
        </div>
        <table>
            <form action="/users/sign_up" mehtod="post">
                <div class="findID-btn">
                    <button type="submit">일반 회원가입</button>
                </div>
            </form>
                <form action="/users/sign_up" mehtod="post">
                    <div class="findID-btn">
                        <button type="submit">일반 회원가입</button>
                    </div>
                </form>
        </table>
</body>
</html>