<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h3>패스워드 찾기</h3>
<form action="/users/findPassword" method="post">
    <table>
        <tr>
            <td>아이디 : </td>
            <td><input type="text" name="userid"></td>
        </tr>
        <tr>
            <td><input type="submit" value="확인"></td>
        </tr>
    </table>
</form>
</body>
</html>