<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디찾기</title>
</head>

<body>
    <h1>
        your ID <%= FindID %>
    </h1>

    <form action="/findIDRstBack" method="POST">
        <button type="submit">뒤로가기</button>
    </form>
</body>
</html>