<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디찾기</title>
</head>

<body>
    <form>
        <h3>
            가입하신 아이디는 <%= FindID %>입니다.
        </h3>
    </form>

    <form action="/users/login" method="get">
        <button type="submit">확인</button>
    </form>
</body>
</html>