<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디찾기</title>
</head>

<body>
        <h1>아이디 찾기</h1>
        <h4>오픈맵에 가입한 이메일 주소를 입력해주세요</h4>
        <table>
            <form action="/users/findIDResult" method="POST">
                <input name="email" type="email">
                <br />
                <button type="submit">다음</button>
            </form>
        </table>
</body>
</html>