<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디찾기</title>
</head>

<body>
        <h1>아이디 찾기</h1>
        <table>
            <form action="users/findIDResult" method="POST">
                <input name="email" type="email">
                <br />
                <button type="submit ">아이디 찾기</button>
            </form>
            <form action="/findIDBack" method="POST">
                <button type="submit">뒤로가기</button>
            </form>
        </table>
</body>
</html>