<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/findPassword.css" />
</head>
<body>
<div class="title">
    <h3>아이디를 확인하세요</h3>
</div>
<form action="/users/findPassword" method="post">
        <div class="title-bottom">
            <h5>오픈맵에 가입한 아이디를 입력해주세요</h5>
        </div>
        <div class="input-id">
            <td><input type="text" name="userid" placeholder="아이디"></td>
        </div>
        <div class="submit-btn">
            <button type="submit">확인</button>
        </div>
</form>
</body>
</html>