<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
    <div id="map" style="width: 100%; height: 100%; position: fixed;"></div>
  </body>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%=apikey%>"></script>
  <script src="/javascripts/mapLoader.js"></script>
</html>
