<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <%- include('partials/navbar_header.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="yourContent">
        <%- body %>
    </div>

    <style>
        .yourContent{
            margin-left: 70px;
        }
    </style><%# ---navbar 넓이---%>

</body>
</html>