<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Openmap</title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
</head>
<body>
<% if(session.user_id){ %>
    <h3>로그인에 성공하셨습니다 ~</h3>
    <form action="/users/logout" method="get">
        <input type="submit" value="로그아웃">
    </form>

    
<% } else{ %>
<section class="login-form">
<h3>LOGIN</h3>
    <form action="/users/login" method="post">
            <div class="int-area">
                <td><input type="text" name="userid" placeholder="Username"></td>
            </div>
            <div class="int-area">
                <td><input type="password" name="password" placeholder="Password"></td>
            </div>
            <div class="btn-area">
                <button type="submit">로그인</button>
            </div>
    </form>
    <form action="/users/findID" mehtod="post">
        <button type="submit">아이디 찾기</button>
    </form>
    <form action="/users/findPassword" mehtod="post">
        <button type="submit">비밀번호 찾기</button>
    </form>
</section>
<% } %>
</body>
</html>