<head>
    <title>openMap</title>
    <link rel="stylesheet" href="/stylesheets/registComp.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script language="javascript" src="/javascripts/checkCompInfo.js"></script>
    <script language="javascript" src="/javascripts/address.js"></script>
</head>

<body>
    <span>
        <h1>업체등록하기</h1>
        <h2>STEP 1</h2>
    </span>


    <span>
        <div class="registContainer">
            <form name="checkCompForm" id="compCheckForm" method="post">
                <label for="name">대표자명</label>
                <br>
                <input type="text" name="name" id="name" placeholder="사업자등록증에 적힌 성명을 입력해주세요." />
                <br />
                <label for="compNum">사업자 등록번호</label>
                <br>
                <input type="text" name="compNum" id="compNum" placeholder="- 없이 10자리 숫자만 입력해주세요." />
                <br />
                <label for="openDate">개업일자</label>
                <br>
                <input type="number" name="openDate" id="openDate" placeholder="YYYYMMDD 형식으로 입력해주세요. (예: 20220514)" />
                <!-- <input type="button" value="사업자 등록정보 확인" onclick="gocheckComp()" /> -->
            </form>
        </div>
        <div>
            <form name="registCompform">
                <label for="compName">업체이름 (필수)</label>
                <br>
                <input name="compName" id="compName" type="text" placeholder="오픈맵에 표시할 업체의 이름을 입력해주세요" />
                <br>
                <label for="addr">도로명주소 (필수)</label>
                <br>
                <input name="addr" id="addr" type="text" placeholder="도로명주소" />
                <!-- <input name="addrDetail" type="text" placeholder="고객입력 상세주소" />
            <input name="zipNo" type="text" placeholder="우편번호" /> -->
                <input type="button" value="주소검색" onclick="goPopup()" />
                <br>
                <label for="telNum">전화번호</label>
                <br>
                <input name="telNum" id="telNum" type="tel" />
                <br>
                <label for="picture">업체사진</label>
                <br>
                <input name="picture" id="picture" type="file" accept="image/png, image/jpeg" />
                <br>
                외부사진 혹은 내부사진을 업로드 해주세요.
                <br>
                <label for="name">정기휴무</label>
                <br>
                <div class="closeDay">
                    <span class="day" id="mon">월</span>
                    <span class="day" id="tue">화</span>
                    <span class="day" id="wed">수</span>
                    <span class="day" id="thur">목</span>
                    <span class="day" id="fri">금</span>
                    <span class="day" id="sat">토</span>
                    <span class="day" id="sun">일</span>
                </div>
                <br>
                <label for="nextbtn"></label>
                <input type="button" value="NEXT" onlick="goNext()"/>
            </form>
        </div>
    </span>
    
</body>