<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Openmap</title>
    <script type="text/javascript" src="../javascripts/validation.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/signup.css" />
</head>
<body>
<section class="signup-form">
<h3>SIGN UP</h3>
<form action="/users/sign_up" method="post">
        <div class="int-area">
            <td>이름</td>
            <td><input type="text" name="username"></td>
        </div>
        <div class="int-area">
            <td>아이디</td>
            <td><input type="text" name="userid" id="userid"></td>
            <td><input type="button" onclick="idCheck()" value="중복확인"></td>
        </div>
        <div class="int-area">
            <td>비밀번호</td>
            <td><input type="password" name="password"></td>
        </div>
            <td>비밀번호 재입력</td>
            <td><input type="password" name="r_password"></td>
        <div class="int-area">
          <td>이메일</td>
          <td><input type="email" name="email"></td>
        </div>
        <div>
            <td>개인정보 수집에 동의합니다</td>
            <td><input type="checkbox" name="agree"></td>
          </div>
        <div class="btn-area">
          <td><input type="submit" value="회원가입"></td>
        </div>
</form>
</section>
</body>
</html>