<head>
    <style>
        body {
            margin-top: 300px;
            text-align: center;
        }
    </style>
</head>

<body>
    <img src="/images/good.png" width="200px" height="200px;">
    <h1>등록이 완료되었습니다!</h1>
    <h2><a href="/mypage">마이페이지</a>에서 확인해보세요.</h2>

</body>