<head>
    <style>
        body {
            margin: 100px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>등록이 완료되었습니다!</h1><br>
    <h2><a href="/mypage">마이페이지</a>에서 확인해보세요.</h2>

</body>