body{
    padding-top:100px;
    padding-left: 100px;
}

.day{
    background-color: rgb(222, 222, 222);
    margin:33x;
    padding:5px;
    border-radius: 50%;
}

.input_text {
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 12px;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;
    background-color: #8b00ff;
    color: white;

    border: none;
    border-radius: 15px;
}