<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/user/changePassword.css" />
    <title>Openmap</title>
</head>
<body>
<div class="title">
    <h3>비밀번호 변경</h3>
</div>
<form action="/users/changePassword" method="post">
        <div class="pwd1">
            <input type="password" name="newpassword" placeholder="새 비밀번호">
        </div>
        <div class="pwd2">
            <input type="password" name="r_newpassword" placeholder="비밀번호 확인">
        </div>
        <div class="submit-btn">
            <input type="submit" value="저장">
        </div>
        <tr>
            <input type="hidden" id="token" name="token" value="<%= Token %>">
        </tr>
</form>
</body>
</html>

<style>
 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.title h3{
    font-family:'Inter';
    font-style:normal;
    font-weight:700;
    font-size:20px;
    line-height:61px;
    color:#413E3E;
    border-bottom : solid 1px #D9D9D9;
    margin-left : 80px;
    margin-top : 30px;
}


.pwd1{
    margin-top:25px;
    margin-left:78px;
}

.pwd1 input{
    border-radius:25px;
    padding:10px 87px;
    background-color:rgba(119, 195, 202, 0.1);
    border-color: rgba(119, 195, 202, 0.1);
}

.pwd2{
    margin-top:25px;
    margin-left:78px;
}

.pwd2 input{
    border-radius:25px;
    padding:10px 87px;
    background-color:rgba(119, 195, 202, 0.1);
    border-color: rgba(119, 195, 202, 0.1);
}

.submit-btn input{
    margin-top : 21px;
    margin-left:350px;
    background-color: rgba(137, 74, 255, 1);
    border-radius:25px;
    border:none;
    color:#fff;
    width : 70px;
    height : 30px;
    box-shadow:5px 5px;
    cursor:pointer;
}

</style>