<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Openmap</title>
    <link rel="stylesheet" href="/stylesheets/user/findIDResult.css" />
</head>

<body>
    <form>
        <div class="findid">
            <h3>아이디 찾기</h3>
        </div>
        <div class="info-findid">
            <h5>가입한 아이디 </h5>
        </div>
        <div class="point">
            <%= FindID %>
        </div>
    </form>

    <form action="/users/login" method="get">
        <div class="submit-btn">
            <button type="submit">확인</button>
        </div>
    </form>
</body>
</html>