<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e2c07342b0.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="top">
            <a href ="/mypage/leave"><i class="fa-solid fa-arrow-left back"></i></a>
            <div class="right">
                <div class="title">회원 탈퇴</div>
                <div class="note">회원 탈퇴를 하게되면 회원님과 관련된 모든 데이터가 영구 삭제되며 복구가 불가능합니다.
                    정말로 탈퇴하시겠습니까?</div>

                <form action="/mypage/leave/completed" method="post">
                    <p><input type="submit" value="확인"></p>
                </form>

            </div>
        </div>
        
    </body>
</html>

<style>
    :root {
        --main-bg-color: #FBF9FC;
        --text-color: rgb(165, 165, 165);
        --openmap-orange: #FE8201;
        --openmap-orange-light: #ffcf9d;
        --openmap-purple: #894AFF;
        --openmap-green: #77C3CA;
        --openmap-green-light: rgba(119, 195, 202, 0.1);
    }

    body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    margin-top: 96px;
    margin-left: 64px;
    padding: 0;
    line-height:150%;
    letter-spacing: 0.03em;
    }

    .top{
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        
    }
    
    .back{
        font-size: 25px;
        margin-right: 18px;
        color:rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }

    .right{
        flex:1;
    }

    .title{
        font-size: 32px;
        font-weight: bold;
        color:rgba(0, 0, 0, 0.7);
        border-bottom: 1.8px solid #D9D9D9;
        padding-bottom: 18px;
    }

    .note{
        font-size: 13px;
        padding-top: 8px;
        color:rgba(0, 0, 0, 0.5);
        font-weight: 600;
    }

    ::placeholder{
        color: var(--text-color);
        font-size: 16px;
        font-weight: bold;
    }

    input[type=submit] {
        background-color: var(--openmap-purple);
        border: none;
        color: white;
        width: 90px;
        padding: 10px 20px;
        text-decoration: none;
        margin-top:15px;
        cursor: pointer;
        border-radius: 20px;
        font-size: 14px;
        font-weight: bold;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    input[type=password] {
        background-color: var(--openmap-green-light);
        border: 1px solid var(--openmap-green);
        width: 486px;
        color: black;
        padding: 10px 20px;
        text-decoration: none;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 20px;
        font-size: 16px;
        font-weight: bold;
    }

</style>